<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <h3>{{ subTitle }}</h3>
    <h4>{{ subsubTitle }}</h4>
    <p style="color: red">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cumque blanditiis fuga pariatur dolorem, laborum culpa minima est nostrum alias a voluptatem nobis necessitatibus aspernatur, tenetur, eveniet ducimus dolore. Fugit.</p>

    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p></p>
    

    <a href="./subpage">Klik</a>

    <script src="./../js/func.js"></script>
</body>
</html>